/* Tu CSS va aqui */

.navbar {
    background: none;
    border: none;
}
/*--------------------------------------------------------------------------------------------------------HEADER*/
.nav {
    padding: 0 20px 0 0;
}
.navbar a {
    color:#fff !important;
}
.nav li a:hover, .nav li a:focus {
    font-weight: bold !important;
}
.nav li:hover {
    font-size:18px;
    transition:all 0.5s;
}


/*--------------------------------------------------------------------------------------------------------HERO*/
.hero {
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 300px;
    color: white;

}
.hero hr {
    width: 30px;
    border-top:2px solid tomato;
}
.hero .btn {
    background-color: tomato;
    border-radius: 15px;
    font-size: 12px;
}
.hero .btn:hover {
    background-color: #edce21;
    color:#fff;
}
.hero .frase{
    padding-top: 200px;
    color: white;
    
}
.hero  h1{
    font-size: 50px;
}

/* Here starts section About */
.about {
    background-color:  tomato; 
    color: #fff;
    padding: 20px 0 60px 0;
}

.about h4{
    color: #fff;
}
.line1 { 
    border-top: 2px solid #fff;
    width: 50px;
}

/* Here starts section Services */
.services {
    padding:60px 30px;
    
}
.services p{
    color: darkgrey;
}
#line2{
    border-top: 2px solid tomato;
    width: 50px;
}

.icon-container {
    font-size: 60px;
    color: tomato;
}


