
@media screen and (max-width:770px) {
    
    .nav li {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .nav li:hover, .nav li:focus {
        background-color: rgba(188, 188, 188,0.7);
        color:#fff;
    }
    .nav li a:hover {
        color:#000 !important;
    }
    .navbar-header {
        background-color: rgba(0, 0, 0, 0.7);
        
    }
    .nav {
    padding: 0;
    }
    /* Reponsive Services and About */
    .about {
    padding: 80px 40px;
    }
    .col-md-3 {
    margin-top: 50px;
    }
    .services h3{
    font-size: 50px;
    }
    .services h4{
    font-size: 30px;
    }
    .services p{
    font-size: 17px;
    }
    
}